<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<meta name="keywords" content="">
<meta name="description" content="">
<title>AMPS: Another MSFA Processing System</title>
<%= stylesheet_link_tag 'grids' %>
<%= stylesheet_link_tag 'amps' %>
</head>
<body>
<div id="doc3" class="yui-t7">
	<div id="hd">
		<!-- PUT MASTHEAD CODE HERE -->
		<%= control %>
	</div>
	<div id="bd">
		<div id="yui-main">
			<div class="yui-b">
			<!-- PUT PRIMARY COLUMN CODE HERE -->			
			<%= yield %>
			</div>
		</div>
		<div class="yui-b">
			<!-- PUT SECONDARY COLUMN CODE HERE -->
		</div>
	</div>
	<div id="ft">
		<!-- PUT FOOTER CODE HERE -->
	</div>
</div>
</body>
</html>
